<div class="footer">
    <div class="container">
        <div class="first">
            
    
            <h4>Help!!!!! Contact us</h4>
            <p>7888356358</p>
            <ul class="list">
                <li>
                    Shipping Information</li>
                <li> Returns & Exchange</li>
                <li> Terms & Conditions</li>
                <li> Privacy Policy
                </li>
            </ul>
        </div>
        <div class="third">
            <h4>HAVE A QUESTION</h4>
            <p>
                chitkara university rajpura,punjab</p>
            <p>8628828281,9646476928</p>
            <p>mahajans624@gmail.com,contact.ritik@gmail.com
            </p>
        </div>
    </div>
    
</div>